.git
.github
.gitignore

__pycache__
**/__pycache__
*.pyc

datacubes
output_nc
output
hyp3_cache
Glaciers
DEM
opera
prev_notebooks
datacubes-auto-dem
output-auto-dem

*.nc
*.zip
*.tif
*.tiff

.vscode
.idea
.DS_Store

tests
my_script.py
my_script-2.py
my_script-3.py
